@use './variables' as *;

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: $primary;
    text-decoration: none;
}

button {
    background: $secondary;
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

button:hover,
button:focus {
    background: $senary;
}