@use './variables' as *;

.blog-flex {
    display: flex;
}

aside {
    background: $tertiary;
    width: 40%;

    li {
        list-style-type: disc;
    }
}

.aside-image-container {
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: 28rem;
    }
}
.aside-text {
    background: $quinary;
    width: 90%;
    margin-top: 30rem;
    padding: 42rem 3rem 4rem 5rem;

    h4 {
        margin: 5rem 0 1rem 0;
    }
}

.blog-main {
    width: 60%;
}

.blog-comments {
    margin-left: 3rem;
    
}

.blog-image {
    position: relative;

    img {
        position: absolute;
        top: -25rem;
        box-shadow: -30px 30px $quaternary;
    }
}

.blog-post {
    padding-top: 30rem;

    h3 {
        margin: 15rem 0 3rem 4.5rem;
    }

    p {
        margin-bottom: 5rem;
        padding: 0 5rem;
    }
}

.comments {
    background: $tertiary;
    padding-top: 8rem;

    h3 {
        margin-bottom: 5rem;
    }
}
.top-comment {
    display: flex;
    margin-bottom: 10rem;
}

.top-image {
    width: 15%;
    padding-left: 3rem;
}

.top-text {
    width: 85%;

    p {
        padding: 0 5rem;
    }
}

.bottom-comment {
    display: flex;
    margin-bottom: 10rem;
}

.bottom-image {
    width: 15%;
    padding-left: 3rem;
}

.bottom-text {
    width: 85%;

    p {
        padding: 0 5rem;
    }
}

.comment-form {
    margin-top: 15rem;
}

.name-email {
    margin-bottom: 3rem;
    
    .comment-name {
        
        width: calc( (95% / 2) );
        background: $tertiary;
        border: none;
        border-bottom: 2px solid $quaternary;
    }

    .comment-email {
        width: calc( (95% / 2) );
        background: $tertiary;
        border: none;
        border-bottom: 2px solid $quaternary;
    }

    input[placeholder] {
        padding: 2rem;
    }
}

.submit-flex {
    // border: 3px solid green;
    display: flex;
    flex-direction: column;
    width: 95%;

    textarea[placeholder] {
        padding: 2rem;
    }

    textarea {
        background: $tertiary;
        border: 2px solid $quaternary;
    }
    
    button {
        margin: 3rem 0 10rem 0;
    }
}