@use './variables' as *;

// HOME PAGE
.home-header {
    background-image: url(../assets/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

h1 {
    margin-top: 12rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.nav-links {
    width: 35%;
}

.nav ul {
    display: flex;
    justify-content: space-between;

    a {
        padding: 7px 10px;
    }

        a:hover,
        a:focus {
            background-color: $secondary;
            color: white;
        }
}

.side-image-container {
    position: relative;

    // after a lot of trial and error, i finally figured out how to apply position relative and absolute. all about the small wins. HOWEVER, i'm not sure what i did for the top value (negative values) is best practice.
    img {
        position: absolute;
        top: -27rem;
        right: 0;
    }
}

// END OF HOME PAGE HEADER


// BLOG PAGE HEADER 
.blog-header {
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;

    h2 {
        padding-top: 15%;
        text-align: center;
    }
}

// END OF BLOG PAGE HEADER

// CONTACT PAGE HEADER 
.contact-header {
    background-image: url(../assets/contact-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;

    h2 {
        text-align: center;
        padding-top: 10%;
    }
}

// HAMBURGER MENU
.hamburger-menu {
    display: none;
}