@use './variables' as *;

.home-header {
    background-image: url(../assets/header-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    margin-top: 10rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.nav-links {
    width: 35%;
}

.nav ul {
    display: flex;
    justify-content: space-between;

    a {
        padding: 7px 10px;
    }

        a:hover,
        a:focus {
            background-color: $secondary;
            color: white;
        }
}


