@use './variables' as *;

// **** HOME PAGE MAIN ****

// ABOUT SECTION
.about {
    background: $tertiary;
    padding: 20rem;
}

.home-blog-article {
    padding-top: 10rem;
    text-align: center;

    p {
        padding-top: 2rem;
    }

    button {
        margin-top: 5rem;
    }
}

// BLOG SECTION

.top-row {
    display: flex;
}

.bottom-row {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8rem;
}

.image-top-container {
    width: 50%;
    position: relative;

    img {
        position: absolute;
        top: -5rem;
        box-shadow: 25px 25px $quaternary;
    }
}

.text-top-container {
    width: 50%;
    // margin: 10rem;
    padding: 10rem 5rem 10rem 15rem;

    h3 {
        margin-bottom: 3rem;
    }

    p {
        line-height: 3rem;
    }

    button {
        margin-top: 3rem;
    }
}

.bottom-blog-text {
    text-align: right;
}

.image-bottom-container {
    width: 60%;
    position: relative;

    img {
        position: absolute;
        top: 1rem;
        right: 0;
        box-shadow: -25px 25px $quaternary;
    }
}

.text-bottom-container {
    width: 40%;
    margin-left: 10rem;
    padding-bottom: 7rem;

    h3 {
        margin-bottom: 3rem;
    }

    p {
        line-height: 3rem;
    }

    button {
        margin-top: 3rem;
    }
}

// ICONS SECTION

.icons {
    background: $tertiary;
    padding: 15rem 10rem;
}

.flex-icon {
    display: flex;
    
    i {
        color: white;
        background: $secondary;
        padding: 1.5rem;
        border-radius: 50%;
    }

    h3 {
        padding: 1rem;
    }

    p {
        line-height: 3rem;
    }
}

.locations {
    display: flex;
    margin-bottom: 8rem;
}

.location-icon {
    padding: 1rem;
}

.community {
    display: flex;
}

.community-icon {
    padding: 0.5rem;
}

.blog-icon {
    display: flex;

    h3 {
        padding-top: 0;
    }
}

.blog-icon-text {
    padding-left: 1rem;
}

.get-in-touch {
    display: flex;
    margin-top: 8rem;

    h3 {
        padding-top: 0;
    }
}

.touch-text {
    padding-left: 1rem;
}

// BANNER SECTION 
.banner {
    // having trouble linking the banner. despite trying multiple paths...
    // background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10rem;
}

// HIGHLIGHT SECTION

.highlight {
    margin-bottom: 10rem;
}

.highlight-flex {
    display: flex;
}

.highlight-image-container {
    width: 100%;
    
    img {
        box-shadow: 25px 25px $quaternary;
    }
}

.highlight-text-container {
    padding-left: 12rem;

    h3 {
        padding-bottom: 2rem;
    }

    p {
        line-height: 3rem;
    }

    button {
        margin-top: 3rem;
    }
}

// GALLERY SECTION 

.gallery {
    background: $tertiary;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.gallery-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}