@use './variables' as *;

@media (max-width: 1245px) {

    // HOME PAGE

    .side-image {
        display: none;
    }

    .top-row {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 35rem;
        align-items: center;
    }
    
    .text-top-container {
        width: 90%;
        padding: 10rem 0 10rem 0;
    }

    .text-bottom-container {
        width: 90%;
        padding: 10rem 0 10rem 0;
    }

    .top-blog-text {
        text-align: center;
    }

    .bottom-row {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50rem;
        align-items: center;
        
    }

    .bottom-blog-text {
        text-align: center;
    }

    // BLOG PAGE 
    .blog-post h3 {
        margin: 10rem 0 3rem 4.5rem;
    }


    // CONTACT PAGE
    .contact-aside {
        padding: 10rem;
    }
}

@media (max-width: 1050px) {

    // HOME PAGE
    .nav-links ul {
        display: flex;
        flex-direction: column;
        text-align: right;
        
        a {
            color: $quaternary;
        }
    }

    .text-top-container h3 {
        line-height: 5rem;
    }

    .text-bottom-container {
        padding: 5rem 0 10rem 0;
        
        h3 {
            line-height: 5rem;
        }
    }

    .get-in-touch h3 {
        line-height: 5rem;
    }

    .highlight-image-container {
        display: none;
    }

    .highlight-text-container {
        padding: 0;
        text-align: center;
    }

    // BLOG PAGE
    .blog-post {
        padding-top: 13rem;

        h3 {
            line-height: 5rem;
            margin-top: 10rem;
        }
    }

    .aside-image-container img {
        display: none;
    }

    .aside-text {
        padding-top: 1rem;
    }
}

@media (max-width: 940px) {

    // HOME PAGE 
    h1 {
        margin-top: 6rem;
        color: $secondary;
    }
    .flex-icon {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .locations {
        flex-direction: column;

        i {
            margin-bottom: 2rem;
        }
    }

    .blog-icon {
        flex-direction: column;

        i {
            margin-bottom: 2rem;
        }
    }

    .community {
        flex-direction: column;
        margin-top: 8rem;

        i {
            margin-bottom: 2rem;
        }
    }

    .get-in-touch {
        flex-direction: column;

        i {
            margin-bottom: 2rem;
        }
    }

    // BLOG PAGE 
    .blog-flex {
        flex-direction: column-reverse;
    }
    
    aside {
        width: 100%;

        .aside-text {
            margin-top: 0;
        }
    }

    .blog-main {
        width: 100%;
    }

    .blog-post {
        padding-top: 0;
        padding: 0 2rem 0 2rem;
    }

    .comments {
        padding: 8rem 5rem 0 5rem;
    }
    
    .blog-image img {
        display: none;
    }
    
    
    
    
    
    // CONTACT PAGE 
    .contact-page-flex {
        flex-direction: column-reverse;
    }

    .contact-main {
        width: 100%;
    }

    .contact-form {
        background: $tertiary;
        width: 100%;
        top: 0;
        box-shadow: none;
        
        input {
            background: $tertiary;
        }

        textarea {
            background: $tertiary;
        }
    }

    .contact-aside {
        width: 100%;
        padding: 0;
        margin-top: 60rem;
        margin-bottom: 10rem;
        text-align: center;
    }

    .contact-icons ul {
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 768px) {

}
