@use './variables' as *;

html {
    font-family: 'Lato', sans-serif;
    color: $secondary;
    // 1rem = 10px
    font-size: 62.5%
}

body {
    // background: #FAE5FF;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
    font-family: 'Pompiere', cursive;
}

nav,
footer,
button, 
p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: normal;
    // font-size: ;
}