html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: #0D0D0D;
  text-decoration: none;
}

button {
  background: #4C0341;
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

button:hover,
button:focus {
  background: #882C07;
}

html {
  font-family: "Lato", sans-serif;
  color: #0D0D0D;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pompiere", cursive;
  color: #4C0341;
}

h2,
h3,
h4,
h6 {
  text-transform: uppercase;
}

nav,
footer,
button,
p {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 11rem;
  line-height: 6.4rem;
}

h2 {
  font-size: 8rem;
  line-height: 9.2rem;
}

h3 {
  font-size: 5.2rem;
  letter-spacing: 0.16rem;
}

h4 {
  font-size: 3rem;
  letter-spacing: 0.13rem;
}

button {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}

a {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.logo h5 {
  color: #0D0D0D;
  font-size: 3.58rem;
  line-height: 3.6rem;
  letter-spacing: 0.11rem;
}

footer p {
  color: white;
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: center;
}

.home-header {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

h1 {
  margin-top: 12rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5rem;
}

.nav-links {
  width: 35%;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav ul a {
  padding: 7px 10px;
}
.nav ul a:hover,
.nav ul a:focus {
  background-color: #4C0341;
  color: white;
}

.side-image-container {
  position: relative;
}
.side-image-container img {
  position: absolute;
  top: -27rem;
  right: 0;
}

.blog-header {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
.blog-header h2 {
  padding-top: 15%;
  text-align: center;
}

.contact-header {
  background-image: url(../assets/contact-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}
.contact-header h2 {
  text-align: center;
  padding-top: 5%;
}

.about {
  background: #FAE5FF;
  padding: 20rem;
}

.home-blog-article {
  padding-top: 10rem;
  text-align: center;
}
.home-blog-article p {
  padding-top: 2rem;
}
.home-blog-article button {
  margin-top: 5rem;
}

.top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 8rem;
}

.image-top-container {
  width: 50%;
  position: relative;
}
.image-top-container img {
  position: absolute;
  top: -5rem;
  -webkit-box-shadow: 25px 25px #FE6F19;
          box-shadow: 25px 25px #FE6F19;
}

.text-top-container {
  width: 50%;
  padding: 10rem 5rem 10rem 15rem;
}
.text-top-container h3 {
  margin-bottom: 3rem;
}
.text-top-container button {
  margin-top: 3rem;
}

.bottom-blog-text {
  text-align: right;
}

.image-bottom-container {
  width: 60%;
  position: relative;
}
.image-bottom-container img {
  position: absolute;
  top: 1rem;
  right: 0;
  -webkit-box-shadow: -25px 25px #FE6F19;
          box-shadow: -25px 25px #FE6F19;
}

.text-bottom-container {
  width: 40%;
  margin-left: 10rem;
  padding-bottom: 7rem;
}
.text-bottom-container h3 {
  margin-bottom: 3rem;
}
.text-bottom-container button {
  margin-top: 3rem;
}

.icons {
  background: #FAE5FF;
  padding: 15rem 10rem;
}

.flex-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-icon i {
  color: white;
  background: #4C0341;
  padding: 1.5rem;
  border-radius: 50%;
}
.flex-icon h3 {
  padding: 1rem;
}

.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8rem;
}

.location-icon {
  padding: 1rem;
}

.community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.community-icon {
  padding: 0.5rem;
}

.blog-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-icon h3 {
  padding-top: 0;
}

.blog-icon-text {
  padding-left: 1rem;
}

.get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8rem;
}
.get-in-touch h3 {
  padding-top: 0;
}

.touch-text {
  padding-left: 1rem;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10rem;
}

.highlight {
  margin-bottom: 10rem;
}

.highlight-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.highlight-image-container {
  width: 100%;
}
.highlight-image-container img {
  -webkit-box-shadow: 25px 25px #FE6F19;
          box-shadow: 25px 25px #FE6F19;
}

.highlight-text-container {
  padding-left: 12rem;
}
.highlight-text-container h3 {
  padding-bottom: 2rem;
}
.highlight-text-container button {
  margin-top: 3rem;
}

.gallery {
  background: #FAE5FF;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.gallery-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  background: #FAE5FF;
  width: 40%;
}
aside li {
  list-style-type: disc;
}

.aside-image-container {
  position: relative;
}
.aside-image-container img {
  position: absolute;
  left: 0;
  top: 28rem;
}

.aside-text {
  background: white;
  margin-top: 25rem;
  padding: 45rem 3rem 4rem 5rem;
}
.aside-text h4 {
  margin: 5rem 0 1rem 0;
}

.blog-main {
  width: 60%;
}

.blog-comments {
  margin-left: 3rem;
}

.blog-image {
  position: relative;
}
.blog-image img {
  position: absolute;
  top: -25rem;
  -webkit-box-shadow: -30px 30px #FE6F19;
          box-shadow: -30px 30px #FE6F19;
}

.blog-post {
  padding-top: 30rem;
}
.blog-post h3 {
  margin: 15rem 0 3rem 4.5rem;
}
.blog-post p {
  margin-bottom: 5rem;
  padding: 0 5rem;
}

.comments {
  background: #FAE5FF;
  padding-top: 8rem;
}
.comments h3 {
  margin-bottom: 5rem;
}

.top-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10rem;
}

.top-image {
  width: 15%;
  padding-left: 3rem;
}

.top-text {
  width: 85%;
}
.top-text p {
  padding: 0 5rem;
}

.bottom-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10rem;
}

.bottom-image {
  width: 15%;
  padding-left: 3rem;
}

.bottom-text {
  width: 85%;
}
.bottom-text p {
  padding: 0 5rem;
}

.comment-form {
  margin-top: 15rem;
}

.name-email {
  margin-bottom: 3rem;
}
.name-email .comment-name {
  width: 47.5%;
  background: #FAE5FF;
  border: none;
  border-bottom: 2px solid #FE6F19;
}
.name-email .comment-email {
  width: 47.5%;
  background: #FAE5FF;
  border: none;
  border-bottom: 2px solid #FE6F19;
}
.name-email input[placeholder] {
  padding: 2rem;
}

.submit-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
}
.submit-flex textarea[placeholder] {
  padding: 2rem;
}
.submit-flex textarea {
  background: #FAE5FF;
  border: 2px solid #FE6F19;
}
.submit-flex button {
  margin: 3rem 0 10rem 0;
}

.contact-page {
  background: #FAE5FF;
}

.contact-page-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-main {
  width: 60%;
  position: relative;
}

.contact-aside {
  width: 40%;
  padding: 15rem;
}
.contact-aside h4 {
  margin-bottom: 2rem;
}

.contact-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  padding: 10rem 0 2.5rem 0;
}
.contact-icons li {
  list-style-type: none;
}

.contact-form {
  background: white;
  position: absolute;
  top: -20rem;
  padding: 5rem;
  width: 90%;
  -webkit-box-shadow: -20px 20px #FE6F19;
          box-shadow: -20px 20px #FE6F19;
}

.name-email input[placeholder] {
  border: none;
  border-bottom: 2px solid #FE6F19;
  width: 45%;
}

.contact-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-submit textarea {
  border: none;
  border: 2px solid #FE6F19;
}
.contact-submit textarea[placeholder] {
  padding: 2rem;
}
.contact-submit button {
  margin: 3rem 0;
}

footer {
  background: #882C07;
}